body{
  margin:0;
  background-color: #e1dbdb;
}
header{
  background-color:#2bb6b3;
  height:200px;
  text-align: center;

}
h1 {
  padding: 70px;
  font-size: 90px;
}
.content{
  display:flex;
        }
nav{
  width:15vw;
  color:black;
  background-color:#e3dac4;
  padding:10px;
  
}
article{
  width:80vw;
  padding:20px;
  margin:15px;
}
aside{
  width:5vw;
  background-color: #00ccff;
}
